body{
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: gray;
}
.chess-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 600px;    
}

.chess-wite-square{
    display: flex;   
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 60px;
    width: 60px;
}
.chess-black-square{
    display: flex;   
    align-items: center;
    justify-content: center;
    background-color: darkgray;
    height: 60px;
    width: 60px;
}
.numbers-line{
    display: flex;  
    flex-direction: row; 
    align-items: center;
    justify-content: center;   
    font-size: 1.5em;
    height: 30px;
    width: 480px;
    background-color: cornflowerblue;
}
.numbers{
    display: flex;   
    align-items: center;
    justify-content: center;    
    height: 30px;
    width: 60px;
    background-color: cornflowerblue;
}
.black-figure{
    transform: rotate(180deg);
    height: 45px;
    width: 45px;
}
.white-figure{
    height: 45px;
    width: 45px;
}