body {
    display: flex;
    flex-direction: column;
    height: 27vh;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.input-group {
    display: flex;
    flex-direction: row;

}
.cells{
    display: flex;
    flex-direction: row;
    width: 200px;   
    justify-content: space-around;    
}

#square-id {
    margin-top: 5vh;
    margin-bottom:5vh;
    width: 30px;
    height: 30px;
    border: 1px solid black;   
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: white;
}

.bottom{
    display: flex;
    flex-direction: column;
}